{% extends "layout.html" %}
{% block content %}
    <title>Upload New File</title>
    <h1>Upload New File</h1>
    <form method=post enctype=multipart/form-data >

        <h4>Select Model:</h4>
        <div class="radio">
          <label>
              <input type="radio" name="ml_models" id="incresnetv2" value="inception_resnet_v2"> IncResNetV2 </input>
          </label>
        </div>

        <div class="radio">
          <label>
              <input type="radio" name="ml_models" id="mobilenetv1" value="mobilenet_v1"> MobileNetV1  </input><br>
          </label>
        </div>

        <h4>Graph Importing Options:</h4>
        <div class="radio">
          <label>
            <input type="radio" name="import_options" id="checkpoints" value="checkpoints"> Checkpoints </input>
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="import_options" id="frozen"      value="frozen">      Frozen      </input>
          </label>
        </div>

        <!-- Not implemented yet
        <div class="radio">
          <label>
            <input type="radio" name="import_options" id="compiled"    value="compiled">    Compiled    </input><br>
          </label>
        </div>
        -->

        <h4>Select File to Process:</h4>
        <!--

        <input type=file name=file><input type=submit class="btn btn-primary" value=Upload>
        -->

        <input type=file name=file><input type=submit value=Upload>


    </form>
{% endblock %}